* {
    box-sizing: border-box;
  }



h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #777777;
}

a:hover {
    color: #4aaaa5;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin-top: 10px;
    color: #ffffff;
    font-size: medium;
}

#profile-img {
    width: 179px;
    height: 143px;
    float: left;
    padding-right: 20px;
}

hr {
    border-style: solid;
    color: #777777;
}

.form-layout {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

#input-field {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: medium;
    min-width: 610px;
    min-height: 35px;
}


textarea {
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size: medium;
    min-width: 610px;
    min-height: 150px;
}

#header {
    padding: 0px 0px 80px 0px;
    position: relative;
    width: 960px;
    margin-left: 10%;
}

#logo {
    position: absolute;
    padding: 20px;
    width: 270px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    background-color: #4aaaa5;
}

#nav-bar {
    padding: 40px 10px;
    position: absolute;
    right: 0;
}

#main-container {
    position: absolute;
    padding-top: 30px;
    margin-bottom: 30px;
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);
    width: 100%;
    min-height: 100%;
    left: 0;
    border-top: solid;
    border-top-color: #777777;
    border-top-width: 2px;

}

#content-inside {
    width: 960px;
    position: relative;
    margin-left: 10%;
    min-height: 100%;
}

#content {
    padding: 20px;
    position: relative;
    width: 650px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    background-color: #ffffff;
}



#aside {
    position: absolute;
    padding: 20px;
    margin-left: 690px;
    top: 0;
    width: 270px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    background-color: #ffffff
}

#linked-img {
    position: relative;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-right: 10px;
    width: 70px;
    height: 60px;
}

table {
    margin-top: 30px;
    width: 100%;
}

td {
    left: 0;
}
.portfo-img {
    width: 266px;
    height: 200px;
}

#footer-wrapper {
    position: fixed;
    padding-top: 15px;
    height: 100px;
    background-color: #4aaaa5;
    width: 100%;  
    left: 0;
    bottom: 0; 
}  
#footer {
    position: fixed;
    padding-top: 30px;
    width: 100%;
    height: 85px;
    background-color: #777777;
    text-align: center;
    font-size: small;
    color: #dddddd;
    left: 0;
    bottom: 0;
}  